*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.opt{
    transition: 0.3s ease;
    background-color: rgba(112, 128, 144, 0.164);
    padding: 5.5px;
    padding-left: 15px;
    text-align: start;
    border: 1px solid rgba(0, 0, 0, 0.429);
    border-radius: 3px;
}

.opt:hover:not([disabled]){
    background-color: black;
    color: white;
}

.opt:disabled{
    cursor: no-drop;
}

.correct{
    background: rgba(0, 128, 0, 0.400);
}

.incorrect{
    background: rgba(255, 0, 0, 0.400);
}