@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Sora:100,200,300,regular,500,600,700,800);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #151515;
}

::selection {
  background-color: #b9ff66;
  color: #151515;
}

.wrapper {
  height: 100%;
  width: 90%;
  margin: auto;
}

#page1 {
  width: 100%;
  height: 100%;
}
/* nav-------------------------------------------------------------------------  */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav h1 {
  font-size: 1.7rem;
  font-weight: 800;
  display: flex;
  align-items: center;
}
nav h1 span {
  color: #151515;
  margin-right: 10px;
  font-size: 1.7rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2vw;
  list-style-type: none;
  font-weight: 600;
}
nav ul li:hover {
  cursor: pointer;
  color: #151515b1;
  transition: all 0.2s;
}

nav ul button {
  border: 1px solid rgba(0, 0, 0, 0.65);
  font-weight: 500;
  padding: 7px 20px;
  border-radius: 4px;
  background-color: transparent;
}
nav ul button:hover {
  background-color: #151515;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
}

/* container ----------------------------------------------------------------------- */
#container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 25px;
}

#container .containerL {
  width: 37%;
}

.containerL h1 {
  font-size: 2.8rem;
  font-weight: 500;
  font-family: "Sora";
}

.containerL p {
  font-size: 1.1rem;
  margin-top: 2rem;
  font-weight: 500;
  line-height: 25px;
  color: #151515c5;
}

.containerL button {
  margin-top: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.65);
  font-weight: 500;
  padding: 11px 20px;
  border-radius: 4px;
  background-color: #151515;
  color: #ffffff;
}

.containerL button:hover {
  background-color: #b9ff66;
  color: #151515;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
}

#container .containerR {
  width: 45%;
}

.containerR img {
  margin-top: 20px;
  width: 80%;
  height: auto;
}

/* companyLogos --------------------------------------------------------------------  */
#companyLogos {
  width: 85%;
  margin: auto;
  padding: 60px 0px 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#companyLogos img {
  opacity: 80%;
  height: 50px;
  width: auto;
}

#companyLogos img:nth-child(2) {
  height: 90px;
  margin-top: -15px;
}

#companyLogos img:nth-child(3) {
  height: 70px;
  margin-top: -15px;
}

#companyLogos img:nth-child(4) {
  height: 90px;
  margin-top: -15px;
}

#companyLogos img:nth-child(5) {
  height: 80px;
  margin-top: -15px;
}

#companyLogos img:nth-child(6) {
  height: 30px;
  margin-top: -15px;
}

/* page 2-------------------------------------------------------------------------------------------------  */
#page2 {
  width: 100%;
  height: 100%;
  padding: 70px 20px;
}

#services {
  width: 100%;
  display: flex;
  gap: 3vw;
  justify-content: start;
  align-items: center;
}

#services h1 {
  font-family: "Sora";
  font-size: 1.5rem;
  font-weight: 600;
  padding: 5px;
  border-radius: 3px;
  background-color: #b9ff66;
}

#services p {
  width: 47%;
  font-size: 0.95rem;
  color: #151515b1;
  font-weight: 600;
}

#servicesContainer {
  width: 100%;
  padding: 20px 0px;
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1vw;
}

#servicesContainer .ser {
  width: 44%;
  height: 265px;
  margin-top: 1rem;
  border-radius: 20px;
  border: 2px solid #151515b1;
  box-shadow: 0px 8px 0px #151515;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.ser1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ser1 button {
  width: fit-content;
  padding: 5px 14px;
  border: none;
  background-color: transparent;
  font-size: 1.05rem;
  font-weight: 500;
  display: flex;
  gap: 10px;
  align-items: center;
}

.ser1 button span {
  background-color: #151515;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 20px;
  font-size: 15px;
  color: white;
}

.ser2 {
  width: 50%;
  position: relative;
}

.ser2 img {
  height: 100%;
  width: 100%;
  scale: 1.2;
  position: absolute;
}

.ser h2 {
  font-size: 1.3rem;
}

.ser:nth-child(1) h2,
.ser:nth-child(4) h2 {
  background-color: #b9ff66;
}

.ser:nth-child(2),
.ser:nth-child(3) {
  background-color: #1e1e1e;
}

.ser:nth-child(2) .ser1 button,
.ser:nth-child(3) .ser1 button {
  color: #ffffff;
}

.ser:nth-child(2) .ser1 button span,
.ser:nth-child(3) .ser1 button span {
  color: #151515;
  background-color: #ffffff;
}

.ser:nth-child(2) h2,
.ser:nth-child(3) h2 {
  background-color: #ffffff;
}
