@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #151515;
}

::selection {
  background-color: rgb(85, 154, 85);
  color: #ffffff;
}

.wrapper {
  width: 90%;
  margin: auto;
}
