* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
}
/* #0B0B0B? */

#page1 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
}
