* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #f2f2f2;
  font-family: "Plain Light";
}

/* loader =======================================  */
#loader {
  width: 100%;
  height: 100%;
  background-color: #0b0b0b;
  position: fixed;
  z-index: 500;
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.line {
  height: fit-content;
  margin-top: -10px;
}

.line h1 {
  font-size: 6.7vw;
  font-weight: 600;
}
/* main =========================================  */
#main {
  width: 100%;
  height: 100%;
  position: relative;
}

#page1 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
}
