@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Rowdies:300,regular,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f7f9f7;
}

::selection {
  background-color: #161616;
  color: #f7f9f7;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #161616;
  border-radius: 50px;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 0.1px;
}

nav {
  height: 12vh;
  width: 100%;
  margin-top: 4vh;
  border-top: 1.6px solid #161616;
  border-bottom: 1.6px solid #161616;
  padding: 0px 7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav i {
  font-size: 23px;
  font-weight: 500;
  padding-left: 30px;
}

nav h1 {
  font-size: 3vw;
  margin-top: -15px;
  font-weight: 900;
  width: 20%;
  font-family: "Rowdies";
  letter-spacing: -3px;
}

nav h1 sup {
  font-size: 17px;
  font-weight: 600;
  margin-left: -3px;
}

nav h4 {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.2vw;
  height: 100%;
  width: 21%;
  justify-content: center;
  border-right: 1.7px solid #161616;
}

nav h4:nth-last-child(1) {
  width: 8%;
  border-right: none;
}

nav h4:nth-child(4) {
  width: 26%;
}

/* Header=========================================================================  */
#header {
  height: 89%;
  width: 100%;
  padding: 3vw 7vw;
}

#content {
  width: 100%;
  height: 100%;
  position: relative;
}

#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: top;
}

#content #overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 54%;
  display: flex;
  flex-direction: column;
  padding: 3vw;
}

#overlay .upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.8vw;
  border-bottom: 1.6px solid white;
}

#overlay .upper h1 {
  font-size: 4vw;
  line-height: 60px;
  color: white;
  font-weight: 800;
  font-family: "Rowdies";
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.088);
}

#overlay .upper h3 {
  color: white;
  font-size: 1.6vw;
  font-weight: 100;
  border: 1px solid white;
  padding: 10px 20px;
  border-bottom-width: 3px;
  border-radius: 50%;
}

#overlay .lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.7rem;
}

#overlay .lower h5 {
  font-size: 18px;
  font-weight: 300;
  color: white;
}

#overlay .lower img {
  height: 3rem;
}

/* Moving images ===================================================================================================  */
#movingImgs {
  margin-top: 3.5rem;
  height: 35vh;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

#movingImgs .container {
  height: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  animation: anime 10s linear;
  animation-iteration-count: infinite;
}
@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#movingImgs .container .imgname {
  height: 100%;
  padding: 1vw;
  text-align: center;
}

#movingImgs .container .imgname img {
  width: 9vw;
  height: 19vh;
  object-fit: cover;
  object-position: 20% 20%;
  border-radius: 50%;
}

#movingImgs .container .imgname h6 {
  margin-top: 8px;
  color: #161616;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 0.9vw;
}

/* Alphabets =================================================================================  */
#alphabets {
  height: 11vh;
  margin: 1.5rem 0rem;
  border-top: 2px solid #161616;
  border-bottom: 2px solid #161616;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.3vw;
}

#alphabets h4 {
  margin-right: 26px;
  font-size: 1.7vw;
  border-bottom: 2px solid #161616;
  font-weight: 400;
  letter-spacing: 2px;
  font-style: italic;
}

#alphabets h6 {
  font-size: 1.1vw;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.14);
  color: #161616c4;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  font-style: italic;
}

#alphabets h6:hover {
  color: #161616;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.225);
  transition: all 0.2s;
}

/* page 2==================================================================  */
#page2 {
  width: 100%;
  height: 100%;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  padding: 0px 7vw;
}

#page2-part1 {
  width: 55%;
  height: 90%;
}

#page2-part1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page2-part2 {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page2-part2 img {
  width: 100%;
  object-fit: cover;
  height: 77%;
}

#part2-info {
  display: flex;
  justify-content: space-between;
}

#part2-info pre {
  width: 45%;
  letter-spacing: -1px;
  font-weight: 600;
  font-size: 1.3vw;
  line-height: 25px;
}

#part2-info p {
  width: 48%;
  display: flex;
  line-height: 18px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.7px;
}

#vogueHeading {
  padding: 0vw 7vw;
  margin-top: -3.5rem;
  font-size: 2vw;
  font-family: "Rowdies";
  font-weight: 900;
}

/* page3 =======================================================================  */
#page3 {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  padding: 0px 7vw;
  display: flex;
  justify-content: space-between;
}

#page3-part1 {
  height: 90%;
  width: 29%;
  position: relative;
}

#page3-part1 div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#page3-part1 h2 {
  font-size: 1.3vw;
  padding-left: 2%;
  font-weight: 500;
  line-height: 24px;
  position: absolute;
  bottom: 0;
}
#img1 {
  width: 75%;
  margin-top: 9rem;
  opacity: 70%;
  animation: circle 12s linear infinite;
  /* anim */
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#img2 {
  position: absolute;
  top: 34.5%;
  opacity: 80%;
}

#page3-part2 {
  height: 90%;
  width: 60%;
}

#page3-part2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* page4 =========================================================================  */
#page4 {
  width: 100%;
  height: 100%;
  padding: 0px 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page4 img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  object-position: 20% 20%;
}

/* page5 =========================================================================  */
#page5 {
  width: 100%;
  height: 100%;
  padding: 3vw 7vw;
  font-family: "Poppins";
}

#page5 h1 {
  text-align: center;
  font-family: "Rowdies";
  font-weight: 900;
  font-size: 2.6vw;
  text-transform: uppercase;
  letter-spacing: -2px;
}

#updates {
  width: 100%;
  margin-top: 3rem;
  padding: 3vh 8vw;
}

#updates .update {
  height: 15vh;
  border-top: 2px solid #161616;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 4vw 2vh 4vw;
}

.update div {
  width: 34%;
}

.UpdateImage,
.UpdateText {
  width: 20%;
  padding-left: 3rem;
}

.UpdateText h2 {
  font-size: 1.9vw;
  font-weight: 500;
}

.UpdateImage img {
  width: 100px;
  height: 85px;
  margin-top: 13px;
  object-fit: cover;
  border-radius: 50%;
}

.update h5 {
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 500;
  line-height: 16px;
  width: 5%;
}
.update .name {
  font-size: 2vw;
  font-weight: 500;
}
.update div p,
.UpdateText p {
  text-transform: uppercase;
  font-size: 13px;
  margin-top: -5px;
  font-weight: 500;
}

#updates .update:nth-last-child(1) {
  border-bottom: 2px solid #161616;
}

/* page 6===================================================================  */
#page6 {
  width: 100%;
  height: 100%;
  padding: 5vh 7vw;
  display: flex;
  justify-content: space-between;
}

#page6-part1 {
  width: 48%;
}

#page6-part1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page6-part2 {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page6-part2-upper {
  height: 38%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page6-part2-upper h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: "Rowdies";
  font-weight: 700;
}
#page6-part2-upper h5 {
  font-size: 1.4vw;
  font-weight: 600;
  line-height: 24px;
}
#page6-part2-upper p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

#page6-part2-lower {
  height: 58%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#page6-part2-lower img {
  width: 48%;
  object-fit: cover;
}

/* page 7 ===================================================================  */
#page7 {
  width: 100%;
  height: 90%;
  padding: 7vh 7vw;
}

#page7 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 30% 30%;
}
