@import url(https://fonts.googleapis.com/css?family=Mukta:200,300,regular,500,600,700,800);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

html,
body {
  background-color: #161616;
  color: #f6f6f6;
  width: 100%;
  height: 100vh;
}
